.gradle/
.settings/
build/
bin/
.classpath
.project
src/main/webapp/VAADIN/gwt-unitCache
src/main/webapp/VAADIN/themes/selectize/styles.css
build/
src/main/webapp/VAADIN/themes/selectize/styles.scss.cache
